.header-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.question-text {
  font-weight: bold;
  margin-bottom: 1rem;
}

.answers {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.answer {
  padding: 0.5rem 0.5rem 0.5rem 0;
  border: 1px solid steelblue;
  border-radius: 4px;
  cursor: pointer;
}

.answer:hover {
  background-color: #f0f8ff;
}

.index {
  font-weight: bold;
  margin-right: 0.5rem;
  font-size: 1rem;
  background-color: steelblue;
  padding: 0.55rem 1rem;
  color: white;
}

.text {
  font-size: 1rem;
}
