.difficulty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.start-exam {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
